/* border: 1px solid red;  */

*, *::before, *::after {
    box-sizing: border-box;    
}

:root {
	--brown: #563127;
	--cream: #fff9eb;
	--orange: #eb7243;
	--lime-green: #d0d960;
}

body {
	padding: 0;
	margin: 0;
	background: var(--brown); 
	height: 100vh; 
	display: flex; 
	align-items: center;
	justify-content: center;
	font-family: "Inter", sans-serif;
	font-size: 1rem; 
	color: var(--brown);
	text-align: center;
}


input, button {
    font-family: inherit;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.game-container {
	background: var(--cream);
	width: 420px;
	height: 420px; 
	display: flex; 
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 5px;
}

.title {
	color: var(--orange);
	font-weight: 600; 
	margin: 0; 
}

.instructions {
	width: 85%;
	margin: 0.4em auto 0;
}

.count-container {
	display: flex; 
	align-items: center;
	justify-content: space-around;
	width: 85%;
}

.dices-container {
	display: grid; 
	grid-template: repeat(2, 1fr) / repeat(5, 1fr);
	gap: 1em; 
	width: 85%; 
}

.dice {
	color: var(--brown); 
	background: white; 
	aspect-ratio: 1 / 1;
	font-size: 1.5rem;
	border-radius: 5px;
	display: grid; 
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	place-items: center;
	padding: 0.2em; 
	border: 1px solid var(--brown);
}

.is-held {
	background: var(--lime-green);
}

.dot {
    background-color: var(--brown);
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.pos-1 {
	grid-area: 1 / 1
}

.pos-2 {
	grid-area: 1 / 2
}

.pos-3 {
	grid-area: 1 / 3
}

.pos-4 {
	grid-area: 2 / 1
}

.pos-5 {
	grid-area: 2 / 2
}

.pos-6 {
	grid-area: 2 / 3
}

.pos-7 {
	grid-area: 3 / 1
}

.pos-8 {
	grid-area: 3 / 2
}

.pos-9 {
	grid-area: 3 / 3
}

.roll-button {
	color: var(--cream);
	background: var(--orange);
	border: none; 
	box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.05);
	padding: 0.3em 1.3em;
	border-radius: 5px;
	font-weight: 600; 
	font-size: 1.2rem; 
}