.card {
    text-align: center;
    width: 380px;
    margin: 20px auto;
    font-size: small;
}

h1 {
    color: #121212;
}

.daily-text {
    font-style: italic;
}

img {
    width: 380px;
    border: 3px solid #121212;
}


.card input, .card button {
    width: 200px;
    display: block;
    margin: 10px auto;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 3px solid #121212;
    font-weight:bold;
    text-align: center;
    box-sizing: border-box;
    
}

.card button {
    background: #121212;
    color: white;
}

.card_terms {
    font-style: italic;
}