*, *::before, *::after {
    box-sizing: border-box;    
}

body {
    margin: 0;
    padding: 10px;
    font-family: "Karla", Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #f8cb74;
    margin-bottom: 4px;
}

button {
    background: #f8cb74;
    color: black;
    padding: 10px 20px;
    border: 1px solid #f8cb74;
    font-weight: bold;
    font-family: inherit;
}

#delete-btn {
    background: black;
    color: #f8cb74;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #f8cb74;
}



